.hover:hover {					/* Hover just adds the default hover style to links */

	cursor: pointer;
	background-color: rgb(0, 0, 0) !important;
}

.round-corners {				/* For all items that need a subtle corner rounding */
	border-radius: 3px;
}

.total td {						/* The extra space in the order summary, ensures total and tax are at the bottom below the line */
	border-bottom: 1px solid;
	min-height: 7px;
	margin-bottom: 5px;
}

.totalText {
	font-weight: bold;
}

.blackList {					/*	Replicating the white-on-black list object in our milestone designs */
	border: 1px solid white;
	background: black;
	color: white;
	border-radius: 5px;
	margin-top: 20px;
	padding: 3px;
	display: table;
	list-style-type: none;
	font-weight: bold;
}
.blackList ul {
	margin: 0px;
}
.blackList li {
	padding: 4px;
}

.fullWidth {
	width: 100%;
}

.top {						/* Aligns content in td elements to top */
	vertical-align: top;
}

.center {
	text-align: center;
}

.centerCol {				/* A single center column for small webpages (login, register, etc) */
	width: 500px;
	margin: 0 auto;
}

.space {					/* Just a general spacer class for elements */
    padding: 20px;
}

.twoCol {					/* Like centerCol, but used for a table to create two columns, the left aligned right and vice versa. */
    max-width: 600px;
    margin: 0 auto;
}

.twoCol > tbody > tr > td:first-child {
    text-align: right;
}

.twoCol > tbody > tr > td {
    width: 50%;
    padding: 10px;
}

.twoCol_separator > tbody > tr > td:first-child {	/* Add a separator for twoCol table */
    border-right: 1px solid;
}

.largeRows {
    padding: 20px;
}

.medRows {
    padding-top: 5px;
    padding-bottom: 5px;
}


.underline {								/* Replicating the 'underline' heading style in our milestone design */
	border-bottom: 1px solid;
	padding-bottom: 3px;
}

.min_height {								/* Set element to the minimum it can be */
	height: 1px;
}

.order_datetime {							/* Width for order date / time inputs */
	width: 120px;
}


.ui-input {									/* General style for input text / password etc */
    width: 150px;
    border-radius: 3px;
    margin-bottom: 5px;
}


.halfWidth {								/* For elements such as two buttons to take just under 50% width */
	width: 48%;
}

.medium {
	width: 50px;
}

#receiptTable {								/* Style unique to the order receipt page */
    width: 500px;
    margin: 0 auto;
    background: white;
    color: black;
}
#receiptTable tr {
    border-bottom: 2px solid darkGray;
}
#receiptTable td {
    padding: 20px;
}

#cat_nav {								/* category navigation in the order blackList menu */
	vertical-align: top;
}

#orderGroups a:hover{
	border-bottom: solid 1px #FFB808;
	display: inline-block; 
}

#orderSummary, #orderDetails {
	width: 225px; 
	margin-top: 15px;
}

#order{
	padding-top: 10px;
}
#orderItems {
	height: 300px;
	width: 100%;
}

#selection_table {							/* Table grid showing selection options for menu categories */
	border-top: 1px solid white;
	margin-bottom: 30px;
	width: 500px;
}
#selection_table td {
	border-bottom: 1px solid white;
	width: 300px;
	height: 150px;
	position: relative;
	padding: 0px;
	border-collapse: collapse;
	
}
#selection_table tr td:first-child {	/* First of each row */
	border-right: 1px solid white;
}
#selection_table tr:last-child td {		/* Last row */
	border-bottom: 0px;
}

.itemBlock {							/* Block of the selection table that contains the menu item */
	width: 100%;
	height: 100%;
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

.itemBlock > h3, .itemBlock > p, .itemBlock > div {
	padding-left: 10px;
	padding-right: 10px;
}

.itemBlock_footer {						/* Contains price and add to cart button */
	position: absolute;
	bottom: 0;
	width: 232px;
}

.itemBlock_footer div {
	display: inline-block;
}

.itemBlock_footer .price {
	float: right;
	padding-top: 5px;
	font-style: italic;
}

.description {							/* For description text - italic and color set */
	font-style: italic;
	font-size: 12px;
	margin-top: 0px;
	color: #FFFFFF;
}

.ui-button {							/* style diverged from jQuery UI - styles a button to a common style*/
    display: inline-block;
    position: relative;
    padding: 3px;
    line-height: normal;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
	border-radius: 3px;

	border: 1px solid #d3d3d3; /* style from ui-state-default */
    font-weight: normal;
    color: #373737;
    background: #f7f7f7;


	/* Removing browser engine specifics, since they by definition aren't W3C standard... */

    /*background: -moz-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e6e6e6));
    background: -webkit-linear-gradient(top, #f7f7f7 0%,#e6e6e6 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%,#e6e6e6 100%);
    background: -ms-linear-gradient(top, #f7f7f7 0%,#e6e6e6 100%);
    background: linear-gradient(to bottom, #f7f7f7 0%,#e6e6e6 100%);	

    background: -ms-linear-gradient(top, #f7f7f7 0%,#e6e6e6 100%);*/
    background: linear-gradient(to bottom, #f7f7f7 0%,#e6e6e6 100%);
}


#orderDetails td {
	padding-top: 20px;
}
